<fieldset class="fieldset bg-base-200 border-base-300 rounded-box w-xs border p-4 mx-auto">
  <legend class="fieldset-legend text-base">Please sign in to continue</legend>
  <%= form_with url: session_path do |form| %>
    
    <label for="email_address" class="label">Email Address</label><br>
    <%= form.email_field :email_address, required: true, autofocus: true, autocomplete: "username", placeholder: "Enter your email address", value: params[:email_address], class: "input mt-2" %><br>

    <label for="password" class="label mt-4">Password</label>
    <%= form.password_field :password, required: true, autocomplete: "current-password", placeholder: "Enter your password", maxlength: 72, class: "input mt-2" %><br>

    <%= form.submit "Sign in", class: "btn btn-primary mt-4 w-full" %>
  <% end %>

  <%= link_to "Forgot password?", new_password_path, class: "link mt-2 mx-auto" %>

</fieldset>
<br>

<% if notice = flash[:alert] %>
  <div role="alert" class="alert alert-error w-xs mx-auto">
    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 shrink-0 stroke-current" fill="none" viewBox="0 0 24 24">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" />
    </svg>
    <p><%= notice %></p>
  </div>
<% end %>


